<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
  </a>
</div>

<div *ngIf="showForm == 'signup'" class="formgroup">
  <form [formGroup]="signUpForm" (ngSubmit)="signup(signUpForm)" novalidate class="forms">
    <h6 class="center">Sign Up</h6>
    <!-- Name -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" maxlength="40" minlength="1" />
      <mat-error *ngIf="signUpForm.get('name').hasError('required')">
        Please Enter Name
      </mat-error>
      <mat-error *ngIf="signUpForm.get('name').hasError('pattern')">
        Invalid Name
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="signUpForm.get('email').hasError('required')">
        Please Enter Email
      </mat-error>
      <mat-error *ngIf="signUpForm.get('email').hasError('pattern')">
        Invalid Email
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" formControlName="password" type="password" />
      <mat-error *ngIf="signUpForm.get('password').hasError('required')">
        Please Enter Password
      </mat-error>
      <mat-error *ngIf="signUpForm.get('password').hasError('pattern')">
        Must be combination of atleast one uppercase,one lowercase,one digit and
        one special character with 8 to 14 characters Range
      </mat-error>
    </mat-form-field>

    <!-- Submit -->
    <div class="button-wrapper">
      <button mat-flat-button class="primary btn">
        <span style="color: #ffffff;">SignUp</span>
      </button>
    </div>
    <p class="al-mem-signup pdlft" style="float: right;">
      Already a signup?
      <span class="signin-clr" (click)="showSelectedForm('login')"><u>Sign In</u></span>
    </p>
  </form>
</div>
<div *ngIf="showForm == 'login'" class="formgroup">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate class="forms">
    <h6 class="center">Login</h6>

    <!-- Email -->
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        Please enter EmailId
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
        Invalid EmailId
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Please Enter Password
      </mat-error>
    </mat-form-field>

    <!-- Remember me-->
    <mat-checkbox class="example-margin" formControlName="Remember">Remember me</mat-checkbox>

    <!-- Submit -->
    <div class="button-wrapper" style="padding-top: 10px;">
      <button mat-flat-button class="primary btn">
        <span style="color: #ffff;">Submit</span>
      </button>
    </div>
    <p class="txt-nuser pdlft" style="float: right;">
      New User?
      <span class="sign-up-now-clr" (click)="showSelectedForm('signup')"><i><u>Sign Up Now</u></i></span>
    </p>
  </form>
</div>