.formgroup {
  margin-top: 100px;
  margin-bottom: 20px;
}
.forms {
  padding: 79px 15%;
  display: grid;
}
.pdlft{
padding-left: 800px;
}

.btn{
    padding: 5px;
    background-color: #067df3;
    padding-top: 3px;
}
.center{
    font-size: large;
}